{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "no-plusplus": "off",
    "no-console": "off",
    "prettier/prettier": "error"
  },
  "env": {
    "node": true,
    "jest": true
  }
}
